<h5 class="ui attached header">Hearts</h5>
<div class="ui bottom attached segment">
    <fui-rating class="red" [type]="'heart'" [maximum]="6"></fui-rating>
</div>
<h5 class="ui attached header">Cloud</h5>
<div class="ui bottom attached segment">
    <fui-rating class="grey" [type]="'cloud'" [maximum]="3"></fui-rating>
</div>
<h5 class="ui attached header">Cat</h5>
<div class="ui bottom attached segment">
    <fui-rating class="pink" [type]="'cat'" [maximum]="7"></fui-rating>
</div>
<h5 class="ui attached header">Circle</h5>
<div class="ui bottom attached segment">
    <fui-rating class="orange" [type]="'circle'" [maximum]="8"></fui-rating>
</div>